{% extends 'base.html' %} {% block title %}
<title>Хімічні реакції</title>
{%endblock %} {% block body %}
<div class="container">
  <p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;Вхідні речовинии, що вступають у хімічну реакцію, називаються <i style="color: #0D6EFD">
      реактантами (реагентами)</i>, а нові, які утворюються внаслідок такої реакції, — <i style="color: #0D6EFD">
        продуктами реакції</i>. Хімічні реакції завжди супроводжуються
    фізичними ефектами, що називаються <i style="color: #0D6EFD">ознаками хімічної реакції</i>. До ознак хімічних реакцій, що зустрічаються 
    найчастіше, належать:<br />
    
    <i style="color: #0D6EFD">
      <table><tr><td style="width:1000px;">
        <ul class="fs-5 text-body-secondary">
      <li>поглинання або виділення теплотти; </li>
      <li>зміна забарвлення реакційної суміші; </li>
      <li>утворення або розчинення осаду; </li>
      <li>виділення або поглинання газу; </li>
      <li>поява або зникнення запаху; </li>
      <li>виділення світла (світіння). </li>
    </ul> 
      </td>
      <td >
        <img alt="" class="hCL kVc L4E MIw" style="height:300px; margin-left: 200px;" fetchpriority="auto" loading="auto" src="https://i.pinimg.com/originals/c9/ff/af/c9ffaff3f15bd19379a360edb33080d5.gif">
      </td></tr></table>
  </i>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;При хімічних реакціях загальна кількість атомів та ізотопний склад 
    хімічних елементів не змінюються. Хімічні реакції можуть протікати мимовільно за звичайних умов, 
    при нагріванні, за участі <i style="color: #0D6EFD">каталізаторів</i>, при дії світла <i style="color: #0D6EFD">
      (фотохімічні реакції), електричного струму, 
    іонізуючого випромінювання</i>, механічних впливів, в низькотемпературній плазмі (плазмохімічні реакції) і т. д.
  </p>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;Розрізняють <i style="color: #0D6EFD">реакції сполучення</i> (в ході яких із декількох речовин утворюється одна 
    складна сполука), <i style="color: #0D6EFD">реакції розкладу</i> (коли з однієї речовини утворюється кілька сполук), 
    <i style="color: #0D6EFD">реакції заміщення </i>
    (реакції, в ході яких більш проста речовина заміщує у складнішій якусь із її складових частин), 
    <i style="color: #0D6EFD">реакції обміну</i> (коли дві речовини обмінюються своїми складовими частинами).
  </p>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;<i style="color: #0D6EFD">Ендотермічні</i> реакції відбуваються з поглинанням тепла, 
    <i style="color: #0D6EFD">екзотермічні</i> — з виділенням тепла.
  </p>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;Реакції можуть відбуватися як без зміни валентності елементів, 
    що реагують, так і зі зміною 
    валентності (так звані <i style="color: #0D6EFD">окисно-відновні реакції</i> — 
    вони супроводжуються переходом електронів від одного атома до 
    іншого. Процес віддачі електронів називають <i style="color: #0D6EFD">окисненням</i>, 
    а приєднання їх — <i style="color: #0D6EFD">відновленням</i>. Атоми, молекули та йони,
     які віддають електрони, називають <i style="color: #0D6EFD">відновниками</i>, 
     а ті, які приймають електрони — <i style="color: #0D6EFD">окисниками</i>.
  </p>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;Розрізняють також прості і складні (зокрема ланцюгові) хімічні реакції. Крім того, 
    існують <i style="color: #0D6EFD">необоротні</i> та <i style="color: #0D6EFD">оборотні</i> реакції.
  </p>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;За <i style="color: #0D6EFD">агрегатним станом</i> розрізняють газо-, рідинно- та твердофазні хімічні реакції. 
    Якщо вихідні речовини та продукти реакції знаходяться в одній фазі, реакцію називають <i style="color: #0D6EFD">
      гомогенною</i>, якщо в різних — <i style="color: #0D6EFD">гетерогенною</i>. 
      Особлива група хімічних реакцій — <i style="color: #0D6EFD">топохімічні реакції</i>, які протікають 
    на поверхні розділу твердої фази.
  </p>
  </p><p class="fs-5 text-body-secondary" style="text-align: justify">
    &nbsp;&nbsp;&nbsp;Для назви хімічної реакції використовують назву <i style="color: #0D6EFD">функціональної</i> 
    групи, яка бере участь у процесі хімічного перетворення (з'являється або навпаки — зникає), наприклад, нітрування, декарбоксилювання. 
    Інколи назва хімічної реакції відображає структурні зміни молекул речовини — ізомеризація, циклізація тощо. 
    Ряд хімічних реакцій мають спеціальний характер і відповідну назву — 
    <i style="color: #0D6EFD">реакція нейтралізації, гідроліз, горіння</i> 
    та ін.
  </p><br/>
  </p>
</div>
{% endblock %}
